

<form method="post" action="">
    tim kiem<input type="text" name="q"><br>
    <select name="gender">
        <option value="">chon gioi tinh</option>
        <option value="male">nam</option>
        <option value="female">nu</option>
    </select>
    <br><input type="submit">

</form>