<h1>Thêm người dùng</h1>
<form method="post" action="/user/store">
    Tên<input type="text" name="name" /><br>
    Tuổi<input type="text" name="age"/><br>
    mail<input type="text" name="mail"/><br>
    phone<input type="text" name="phone"/><br>
    <input type="submit">
</form>
