<h1>Thông tin chi tiết người dùng</h1>
<h2>tên:{{#each Users}}
    {{this.name}}
  {{/each}}</h2>
<h2>tên:{{#each Users}}
    {{this.age}}
  {{/each}}</h2>
<h2>tên:{{#each Users}}
    {{this.mail}}
  {{/each}}</h2>
  

